#app {
    height: unset;
    margin: 0;
    min-height: auto;
}

.mobiles .navbar-light .navbar-brand {
    position: absolute;
    margin-left: 13%;
    top: 0;
}
.mobile li.nav-item.section-auth {
    display: block;
    position: fixed;
    right: 0;
    top: 2%;
}
.mobile li.nav-item.dropdown.profile-dropdown {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}
.navbar-brand img {
    width: 52%;
}
#navbarSupportedContent ul {
    padding-top: 2rem;
}
#navbarSupportedContent li.nav-item {
    padding: 0.2rem 0.55rem !important;
}
.navbar-light .navbar-toggler {
    position: fixed;
    top: 3%;
}

.navbar-expand-md .navbar-nav .nav-link {
    font-size: 12px;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
.profile-dropdown {
    background: #f18a21;
    text-align: right;
    width: min-content;
    padding: 0.775rem 0rem !important;
}
.navbar-nav .profile-dropdown.open .dropdown-menu {
    position: absolute;
    float: none;
}
.banner-section-text {
    margin-top: 30%;
}

.footer-navbar-brand {
    width: 41%;
    display: inline-block;
}
.footer-navbar-brand img {
    width: 100%;
}

.footer-navbar-brand-v2 {
    width: 59%;
}

.footer-navbar-brand-v2 img {
    width: 57%;
}
.nav-brand-v2 {
    margin-left: 0;
}

.footer-span img {
    width: 7%;
}

.auth-login {
    background: url(/images/backgrounds/login_side_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 50px solid #fff;
    height: 34%;
}
.auth-login {
    border-left: none;
    padding: 40% 2%;
}

.auth-page .card.login {
    padding: 0 0;
    border: none;
    margin-top:7rem;
}

.auth-page h1 {
    color: #404040;
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 0.1rem;
    font-weight: 600;
    text-align: center;
}

.auth-page h2 {
    color: #707070;
    font-size: 18px;
    margin-left: 0;
    text-align: center;
}

.remember-me {
    margin-left: 18%;
}
.reset-pass {
    float: right;
    margin-right: 0;
    margin-top: 0;
}
video#bghid {
    width: 100%;
    float: left;
    margin-top: 0;
    height: unset;
}

video#bgvid {
    width: 100%;
    float: left;
    margin-top: 0;
    height: unset;
}
.general-section .banner-section-text {
    margin-top: 2%;
}

.session-panel .nav-tabs li {
    width: 50%;
}

.nav-tabs a {
    font-size: 15px;
    color: #404040;
}
.tabs-spacing {
    padding-left: 1rem;
}
.session-card-calendar {
    display: block;
    padding-bottom: 12px;
}
.no-padding-right {
    padding-right: 15px !important;
}
.no-padding-left {
    padding-left: 15px !important;
}
.rating {
    margin-bottom: 2rem;
}

.previous_h2 {
    color: #404040;
    font-weight: 600;
    font-size: 23px;
}
.session_details-panel .nav-pills .nav-item a {
    font-size: 12px;
    color: #404040;
}
.session-tabs {
    box-shadow: 4px 4px 8px #0000004d;
    background: #fff;
    padding-left: 0;
}

.session_details-panel .session-tabs {
    min-width: 135%;
}

.session-tabs li.nav-item {
    padding: 1rem 0.2rem;
}
.session-tabs a {
    padding: 5px 2px;
    font-size: 12px;
    border: none;
}

.session_details-panel .session-tabs .nav-item.active a {
    background: #f87522;
    border: 2px solid #f87522;
    color: #fff;
    padding: 5px 2px !important;
    border-radius: 22px;
}
.submitbuttons {
    margin-top: 1rem;
    text-align: right;
    display: flex;
}
.btn.btn-outline-dark.btn-cancel {
    border-radius: 22px;
    background-color: none;
    border: none;
    color: #707070;
    font-size: 14px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.button.button-submit {
    background-color: #6fc6b8;
    border-radius: 22px;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
}

#file-upload-form {
    margin: auto;
    width: 100%;
    margin-top: 2rem;
}
.dropzone-wrapper {
    border: 2px dashed #c2cdda;
    color: #707070;
    position: relative;
    height: 300px;
}
.navbar-expand-md .navbar-nav .nav-link {
    font-size: 12px;
    padding: 0.45rem;
}

@media (max-width: 420px) {

.button.button-submit {
        background-color: #6fc6b8;
        border-radius: 22px;
        border: none;
        color: white;
        padding: 5px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 26px;
    }
}

@media (max-width: 320px) {
    .jarallax-img {
        height: 250px;
    }
    #map {
        min-width: 315px;
        min-height: auto;
        width: 315px;
        height: 347px;
      }
      .btn-overall.btn_create_group.btn_forum_view {
        width: unset;
        transform: none;
        margin-right:20px;
      }

      .btn.btn-overall.btn_forum_details {
        transform: none;
        margin-right:20px;
      }
      .message-modal .modal-accept, .ticket-modal .modal-accept {
        background: 0 0;
        border: 2px solid #f87522;
        width: 32%;
        padding: 6px;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
      }
}

#ticketModal .modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
    margin-top: 3rem;
}

.accordion__item-button.white-bg {
    background-color: #fff;
    color: #404040;
    box-shadow: 0 3px 10px rgba(0,0,0,.1607843137254902);
    padding: 10px 0 10px 10px;
    font-weight: 400;
    font-size: 12px;
  }

  .faq-item .accordion__item-body {
    padding-left: 0;
    margin-top: 15px;
  }

  .btn-overall.btn_register {
    background: #F87522;
    border: 2px solid #F87522;
    color: #fff;
    padding: 0.3rem 0.8rem !important;
}

.btn-overall.btn_login {
    background: 0 0;
    border: 2px solid #F87522;
    color: #F87522;
    padding: 0.3rem 0.8rem !important;
}

.btn_login_active {
    background: 0 0;
    border: 2px solid #707070;
    color: #404040;
    padding: 0.3rem 0.8rem !important;
}

.btn_register_active {
    background: #707070;
    border: 2px solid #707070;
    color: #fff;
    padding: 0.3rem 0.8rem !important;
}

video#bgresource {
    width: 100%;
    float: left;
    margin-top: 0;
    height: unset;
    margin-bottom: 10px;
  }

  .single-principle-page .principle_content tr:first-of-type td, .single-principle-page .principle_content tr:first-of-type td strong {
    color: #ffffff;
    font-weight: 900;
    line-height: 1.5;
    font-size: 12px;
  }

  .table-header {
    font-size: 12px;
    color: #404040;
  }

  .single-principle-page .principle_content a {
    color: #404040;
    font-weight: normal;
    font-size: 12px;
  }


  .sessions-card.blog-card article {
    min-height: 340px;
    max-height: 460px;
  }

  .event_title {
    font-size: 18px;
    color: #404040;
    font-weight: bold;
  }