<template>

  <vueper-slides
  autoplay
    class="no-shadow"
    :visible-slides="3"
    slide-multiple
    :gap="3"
    :slide-ratio="1 / 4"
    :dragging-distance="200"
    :fixed-height="true"
    :breakpoints="{ 800: { visibleSlides: 2, slideMultiple: 2 }, 480: { visibleSlides: 1, slideMultiple: 1 } }">
      <template v-slot:arrow-left>
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
      </template>

      <template v-slot:arrow-right>
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
      </template>
  <vueper-slide v-for="(item, i) in items" :key="i">
  <template v-slot:content>
        <div class="course-card">
          <article>
            <div class="thumbnail">
              <a  v-bind:href="'/courses/detail/'+item.id">
                <img  v-bind:src="item.course_image_uri"  v-bind:alt="item.name" />
              </a>
            </div>

            <div class="course-card-content">
              <p class="title text-center"><a  v-bind:href="'/courses/detail/'+item.id" class="text-center text-purple">{{item.name}}</a></p>
              <p class="description text-grey text-center">{{ item.short_description | truncate(90, '...') }}</p>
              <p class="readmore text-center"><a v-bind:href="'/courses/detail/'+item.id">Read More <i class="fas fa-arrow-right"></i></a></p>
            </div>
          </article>
        </div>
      </template>
    </vueper-slide>
  </vueper-slides>
</template>
<style lang="scss" scoped>
.vueperslides--fixed-height { height: 425px; }
.vueperslides__bullet .default {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  box-shadow: none;
  transition: 0.3s;
  width: 16px;
  height: 16px;
}
.vueperslides__bullet--active .default {background-color: #42b983;}
.vueperslides__bullet span {
  display: block;
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
}

@media (max-width: 600px) {
  
.vueperslides--fixed-height { height: 475px; }
}
</style>
<script>
import axios from "axios";
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

export default {  
  props: ["action"],
    components: { VueperSlides, VueperSlide },
    data() {
      return {
        items: [],
        loaded: false,
      };
    },
    mounted () {
    if(this.items !== null) {
    this.loaded = true;
    }
    },
    created() {
        console.log(this.action);
        axios
          .get(this.action)
          .then(response => {
            this.items = response.data;
          })
          .catch(error => {
              this.errors = error.response.data;
              console.log(this.errors);
              return;
          });
    },
    filters: {
        truncate: function (text, length, suffix) {
            return text.substring(0, length) + suffix;
        },
    }

}
</script>