
<template>
  <div class="row no-gutters my-course-mobile">
    <div class="col-12">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-12">
    <div class="course-title container">
      <h5 class="title text-blue">{{ title }}</h5> 
    </div>
    <div class="achievements">
      <div v-for="achievement in achievements" v-bind:key="achievement.icon" class="achievement">
        <img
          :src="'/images/achievements/'+achievement.icon"
          :alt="achievement.title"
          data-toggle="tooltip"
          data-placement="right"
          :title="achievement.title"
        >
      </div>
    </div>
      <course-action-mobile
        mobile="0"
        :completed="completed"
        :prev-score="prevScore"
        :current-score="currentScore"
        :action="action"
      ></course-action-mobile>
  </div>
</div>
</template>

<style lang="scss" scoped>
.my-course-mobile { 
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 5%;
  .preview-img {
    overflow: hidden;
    height: 200px;
    width: 100%;
    padding: 0;
    object-fit: fill;
  }
  .course-title {
  .text-blue{
    color:#404040;
  }
    p {
      color: black;
      font-size: 1em;
      line-height: 1.3em;
      font-weight: bolder;
      text-align: center;
      margin: 0;
      padding: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
.achievements {
    width: auto;
    margin: 5% 0;
    height: 100%;
    display: -webkit-box;
    display: flex;
}
.achievement {
margin: 0 5%;
  img {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  
  .preview-img {
  height: 135px;
  }
}
</style>


<script>
import CourseActionMobile from "./CourseActionMobile.vue";

export default {
  components: {
    CourseActionMobile
  },
  data: function() {
    return {};
  },
  props: [
    "title",
    "image",
    "date",
    "progress",
    "status",
    "prevScore",
    "currentScore",
    "action"
  ],
  computed: {
    achievements: function() {
      const achieved = [];

      if (this.status == "Completed") {
        this.completed = true;
      }
      //console.log(this.status);

      //Started course
      if ((this.status == "In Progress") || (this.completed) || (this.status == "Completed but Failed")) {
        achieved.push({
          icon: "Icon_Start_Course.png",
          title: "You have started a course you enrolled in."
        });
      } else {
        achieved.push({
          icon: "Icon_Start_Course_Grey.png",
          title: "You have started a course you enrolled in."
        });
      }


      //Scored more than 79%
      if ((this.completed) || (this.status == "Completed but Failed")) {
        achieved.push({
          icon: "Icon_1_Star.png",
          title: "You have completed course with a score above 79%."
        });
      } else {
        achieved.push({
          icon: "Icon_1_Star_Grey.png",
          title: "You have completed a course successfully."
        });
      }

      //Finished course
      if ((this.completed) & (this.currentScore > 85)) {
       achieved.push({
          icon: "Icon_Finished_Course.png",
          title: "You have completed a course successfully."
        });
      } else {
        achieved.push({
          icon: "Icon_Finished_Course_Grey.png",
          title: "You have completed a course successfully."
        });
      }

      return achieved;
    }
  }
};
</script>
