<template>
<div>
   <span class="nav-link search-bar" v-on:click="toggleState"><i class="fa fa-search"></i><i class="fa fa-times"></i></span>
    <div class="search-wrap">
      <div class="search-content">
    <form :action="action" method="GET" class="search">
      <div class="form-bg">
            <div class="header-section">
            <h1 class="text-white">Search</h1>
            </div>
        <div class="inner-cont">
          <input placeholder="Search" type="search" name="search" class="search-field" v-model="text" autofocus="off"  autocomplete="off">
          <button class="icon" type="submit">
            Go <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="body-section search-body">
    <h4 class="text-white">Popular Courses</h4>
      <ul>
      <li v-for="(item, index) in items" :key="index"><a v-bind:href="'/courses/detail/'+item.id">{{item.name}}</a></li>
      </ul>
    </div>
    <div class="search-footer">
       <h4 class="text-white" v-on:click="toggleState"><i class="fas fa-arrow-left"></i> Go Back</h4>
    </div>
    </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.fa-times{
  display: none
}
.searching{
    border: 2px solid #05B4CB;
    background-color: #05B4CB;
    color: #fff !important;
    cursor: pointer;
    .fa-times{
      display: block;
    }
    .fa-search{
      display: none;
    }
}
.search-wrap{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 4rem;
    left: 0;
    background-color: #23245f;
    background-color: rgb(35, 36, 95, 0.9);
    .search-content {
    position: relative;
    top: 0;
    width: 50%;
    text-align: center;
    left: 25%;
      h1{
       font-size: 45px
      }
    }
    .inner-cont {
      display: flex;
      background-color: white;
      border-radius: 2rem;    margin-top: 5%;
      .search-field {
        border: 0;
        border-radius:2rem;
        color: #444;
        font-size: large;
        padding: 0 2rem;
        width: 100%;outline: none;
      }
      .icon {
        background-color: #05B4CB;
        border: 0;
        color: #fff;
        width: 9rem;
        height: 100%;
        line-height: 40px;
        padding: 0;
        margin: 0;
        border-radius: 2rem;
        font-size: large;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;

        i {
          color: white;
        }
      }
    }
    .search-body{
      text-align: center;
      h4{
      margin: 2% 25%;
      padding: 10px;
      font-size: 18px;
      border-bottom: 1px solid rgba(255, 255, 255, .5);
      }
      ul{
      list-style: none;
      text-align: center;
      li{
       padding: 10px;
       a{
       color: #fff;
       font-size: 15px;
       }
       }
      }
    }
    .search-footer{ 
    margin-top: 10%;
    h4{
      cursor: pointer;
    }
    h4:hover{
       color: #05B4CB !important;
    }
    }
}
.icon {
  cursor: pointer !important;
}
.active {
  background: white !important;
}

@media (max-width: 600px) {
.search-wrap{
  top: 4rem;
    .search-content{
     width: 100%;
     left: 0;
     padding: 5%;
    } 
}
.icon {
    padding-left: 6%;
}
}

</style>

<script>
import axios from "axios";

export default {
  props: ["action","popular"],
  data() {
    return {
      active: false,
      text: "",
      items: [],
    };
  },
  methods: {
    toggleState() {
      console.log(this.popular);
      axios
        .get(this.popular)
        .then(response => {
          this.items = response.data;
          console.log(this.data)

        })
        .catch(error => {
          if (error.response.status == 400) {
            this.errors = error.response.data;
            return;
          }
        });

      this.active = window.localStorage.getItem('active') == true ? true : this.active;
      this.active = !this.active;
      window.localStorage.setItem('active',this.active);

      if (this.active) {
        // $(window).scrollTop(0);
        $(".search-wrap").css("display", "block");
        $(".search-bar").addClass("searching");
        $("body").addClass("modal-open")
      } else {
        $(".search-wrap").css("display", "none");
        $(".search-bar").removeClass("searching");
      }
    }
    
  }
};
</script>
