<template>
  <div id="ppic">
    <div class="image" v-bind:style="{ backgroundImage: 'url(' + current + ')' }"></div>
    <form
      id="ppic_form"
      :action="action"
      method="POST"
      enctype="multipart/form-data"
      class="text-center"
    >
      <slot></slot>
      <p>Upload new profile picture. Maximum file size: 2Mb</p>
      <button v-on:click.prevent="upload">
        <i class="fas fa-upload"></i>
        Upload
      </button>
      <input type="file" id="ppic_upload" name="ppic" style="display: none;" data-max-file-size="2M">
    </form>
  </div>
</template>

<style lang="scss" scoped>
#ppic {
  margin: 40px 0;
}
.image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: auto;
  background-size: cover;
}
p {
    color: #404040;
    padding-top: 1rem;
}
button {
background: #F87522;
    color: white;
    width: auto;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    padding: 1% 6%;
    border-radius: 2rem;
  i {
    padding-right: 7px;
  }
}
</style>


<script>
export default {
  props: ["current", "action"],
  methods: {
    upload: function() {
      document.getElementById("ppic_upload").onchange = function() {
        document.getElementById("ppic_form").submit();
      };
      $("input[id='ppic_upload']").click();
    }
  }
};
</script>
