<template>
  <span class="span-space" data-toggle="tooltip" title="Share course" v-on:click="shareCourse()"><button type="button" class="btn btn-overall purple-borderd" ><span>Share</span><span><img src="/images/icons/Icon - Share - Dark Blue@2x.png"/></span></button></span>
</template>

<style lang="scss" scoped>
.share {
  cursor: pointer;
}
</style>


<script>
export default {
  props: ["email", "linkedin", "facebook", "twitter", "url"],
  data() {
    return {};
  },
  methods: {
    shareCourse() {
      console.log(this.email);
      //Set links
      $("#shareModal .email").attr("href", this.email);
      $("#shareModal .linkedin").attr("href", this.linkedin);
      $("#shareModal .facebook").attr("href", this.facebook);
      $("#shareModal .twitter").attr("href", this.twitter);
      $("#shareModal #shareUrl").val(this.url);
      //Open modal
      $("#shareModal").modal("toggle");
    }
  }
};
</script>
