<template>
<div>
   <span class="nav-link search-bar" v-on:click="toggleState"><i class="fa fa-search"></i><i class="fa fa-times"></i></span>
    <div class="search-wrap">
      <div class="search-content">
    <form :action="action" method="GET" class="search">
      <div class="form-bg">
            <div class="header-section">
            <h1 class="text-white">Search</h1>
            </div>
        <div class="inner-cont">
          <input placeholder="Search" type="search" name="search" class="search-field" v-model="text" autofocus="off"  autocomplete="off">
          <button class="icon" type="submit">
            Go <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </form>
    <div class="search-footer">
       <h4 class="text-white"><i class="fas fa-arrow-left"></i> Go Back</h4>
    </div>
    </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.fa-times{
  display: none
}
.searching{
    border: 2px solid #05B4CB;
    background-color: #05B4CB;
    color: #fff !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
    .fa-times{
      display: block;
    }
    .fa-search{
      display: none;
    }
}
.search-wrap{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 6.5rem;
    left: 0;
    background-color: #23245f;
    background-color: rgb(35, 36, 95, 0.9);
    .search-content {
      position: relative;
      top: 10%;
      width: 40%;
      text-align: center;
      left: 30%;
    }
    .inner-cont {
      display: flex;
      background-color: white;
      border-radius: 2rem;    margin-top: 10%;
      .search-field {
        border: 0;
        border-radius:2rem;
        color: #444;
        font-size: large;
        padding: 0 2rem;
        width: 100%;outline: none;
      }
      .icon {
        background-color: #05B4CB;
        border: 0;
        color: #fff;
        width: 9rem;
        height: 100%;
        line-height: 40px;
        padding: 0;
        margin: 0;
        border-radius: 2rem;
        font-size: large;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;

        i {
          color: white;
        }
      }
    }
    .search-footer{
      position: relative;
      top: 28rem;
    }
}
.icon {
  cursor: pointer !important;
}
.active {
  background: white !important;
}

@media (max-width: 480px) {
  .icon {
    padding-left: 6%;
}
}

</style>

<script>
export default {
  props: ["action"],
  data() {
    return {
      active: false,
      text: ""
    };
  },
  methods: {
    toggleState() {

      this.active = window.localStorage.getItem('active') == true ? true : this.active;
      this.active = !this.active;
      window.localStorage.setItem('active',this.active);

      if (this.active) {
        // $(window).scrollTop(0);
        $(".search-wrap").css("display", "block");
        $(".search-bar").addClass("searching");
      } else {
        $(".search-wrap").css("display", "none");
        $(".search-bar").removeClass("searching");
      }
    }
  }
};
</script>
