<template>
  <div class="row no-gutters my-course">
    <div class="col-2">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-8">
    <div class="course-title">
      <div class="title"><a target="_blank"  :href="link">{{ title }}</a></div>
      <div class="sub-title"> {{position}} </div>
        <div class="row" key="1" v-if="!more">
          <div class="col-3 ">
          <div class="innerstats">
            <h5>Enrollment Date</h5>
            <p>{{date}}</p>
            </div>
          </div>
          <div class="col-3 stats">
          <div class="innerstats">
            <h5>Completion Date</h5>
            <p>{{end}}</p>
          </div>
          </div>
          <div class="col-3 stats c-progress">
          <div class="innerstats">
          <h5>Prev Score</h5>
          <p>{{prevScore}}%</p>
            </div>
          </div>

          <div class="col-3 stats">
          <div class="innerstats">
          <h5>Current Score</h5>
          <p>{{(currentScore)*100}}%</p>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="col-2">
    <div class="achievements">
        <div
          v-for="achievement in achievements"
          v-bind:key="achievement.icon"
          class="achievement"
        >
          <img
            :src="'/images/achievements/'+achievement.icon"
            :alt="achievement.title"
            data-toggle="tooltip"
            data-placement="right"
            :title="achievement.title"
          >
        </div>
        </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>

  .achievements{
      display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    align-content: center;
    text-align: center;
    margin-top: 1%;
    .achievement {
    margin-top: 27%;
      margin-left: 20%;
      text-align: center;
      img {
        cursor: pointer;
      }
    }
  }

  .my-course{
    padding: 1% 0;
    border-bottom: 1px solid #ccc;
  .preview-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 0 10%;
  }
  .course-title {
    text-align: left;
    .title {
      padding: 5px 0;
      a{
      font-size: 18px;
      color: #662F8E;
      text-align: left;
      background: none;
      padding: 0;
      }
    }
    .sub-title{
      font-size: 14px;
      color: #7C7C7C;
    font-weight: bold;
    }
    .row {
    margin-bottom: 1%;
    margin-top: 1%;
    }
    .innerstats{
    border: 1px solid #662F8E66;
    text-align: center;
      h5 {
        color: #662F8E;
        font-size: 15px;
        padding-top: 5%;
      }
      p{
      font-size: medium;
    text-align: center;
    padding: 0;
    color: #7C7C7C;
      }

  stats{
  margin-left: -15px;
  }
    }
  }
}
</style>


<script>
import CourseAction from "./CourseAction.vue";

export default {
  components: {
    CourseAction
  },
  data: function() {
    return {
      more: false
    };
  },
  props: [
    "title",
    "image",
    "date",
    "start",
    "end",
    "enrolled",
    "progress",
    "status",
    "position",
    "prevScore",
    "currentScore",
    "action"
  ],
  methods: {
    toggleMore: function(e) {
      this.more = !this.more;
    }
  },
  computed: {
    achievements: function() {
      const achieved = [];

      if (this.status == "Completed") {
        this.completed = true;
      }
      //console.log(this.status);

      //Finished course
      if ((this.completed) & (this.currentScore >= 0.8)) {
       achieved.push({
          icon: "Icon_Finished_Course.png",
          title: "You have completed a course successfully."
        });
      } else {
        achieved.push({
          icon: "Icon_Finished_Course_Grey.png",
          title: "You have not completed a course."
        });
      }

      return achieved;
    }
  }
};
</script>
