<template>
  <div class="row no-gutters my-course-mobile " v-bind:id="unique">
    <div class="col-12">
      <img v-bind:src="image" alt="Course" class="preview-img">
    </div>
    <div class="col-12">
    <div class="course-title">
      <p class="title">{{ title }}</p>
      <p class="sub-title"> {{position}} | {{course}}</p>
    </div>
    </div>
    <div class="col-12">
        <div class="row no-gutters" key="1" v-if="!more">
        <div class="col stats">
            <h6>Enrollment Date</h6>
            <p>{{date}}</p>
          </div>
        <div class="col stats">
            <h6>Completion Date</h6>
            <p>{{end}}</p>
        </div>
        <!-- <div class="col stats">

          <div class="achievements">
              <div
                v-for="achievement in achievements"
                v-bind:key="achievement.icon"
                class="achievement"
              >
                <img
                  :src="'/images/achievements/'+achievement.icon"
                  :alt="achievement.title"
                  data-toggle="tooltip"
                  data-placement="right"
                  :title="achievement.title"
                >
              </div>
              </div>
          </div> -->
        </div>
    </div>
    <div class="col-md-8 offset-md-2">
    <div class="action">
      <a class="continue" :href="likeaction"><p> <span class="icons"><i class="fas fa-thumbs-up"></i></span>  <span>Kudos</span>  <span class="numbers">{{likes}}</span></p></a>
      <a  class="continue"  ><p><span class="icons"><i class="fa fa-star" aria-hidden="true"></i></span> <span>Follow</span> <span class="numbers">{{followers}}</span></p></a>
      <a  class="continue" @click="isShowing ^= true" ><p><span class="icons"> <i class="fa fa-comment" aria-hidden="true"></i></span> <span>Comment</span> <span class="numbers">{{commentcount}}</span> </p></a>
    </div>
    </div>

    <div class="col-md-12 comment-section">
    <a v-if="actionType=='no-comment'" class="no-comment text-center"> No comments</a>
    <a v-else-if="actionType=='has-comment'" @click="isComment ^= true" class="view-comment text-center"> View Comments <i class="fa fa-angle-down" aria-hidden="true"></i></a>

     <div v-show="isComment" class="comment-inner">
      <div v-for="comment in comments" :key="comment.id" class="com">

      <div class="course-title">
         <p class="title">{{ comment.name }}</p>
         <p class="sub-title"> {{comment.position}} | {{comment.course_name}} <span>{{comment.created_at}}</span></p>
       </div>
         <div class="row" >
         <div class="col-md-12">
         <p class="text-left">{{comment.comment}}</p>
         </div>
         <div class="col-md-12">
         <div class="lower-action">
           <div class="text-right">
             <!-- <a class="continue">{{getSubCommentCount(comment.id)}} Replies</a> -->
           <a class="btn btn-overall purple-borderd" @click="isCommentLevel ^= true" > Add a Comment <i class="fas fa-arrow-down"></i></a>
           </div>

           </div>
          </div>

           <div v-show="isCommentLevel" class="col-md-6 offset-md-2 comment">
           <form :action="commentaction" method="POST" class="search">
                 <input type="hidden" name="_token" :value="csrf" />
                <input type="hidden"  v-bind:value="follow" name="follow">
                 <input type="hidden"  v-bind:value="courseid" name="course" >
                 <input type="hidden"  v-bind:value="comment.id" name="unique" >
                 <textarea  rows="4" cols="40" name="comment"> </textarea>
                 <div class="col-md-8 offset-md-3">
                 <button  type="submit" class="btn btn-overall purple"> Submit <i class="fas fa-arrow-right"></i> </button>&nbsp
                 <a  class="btn btn-overall white" @click="isShowing ^= true" > Cancel </a>
                 </div>
           </form>

         </div>
     </div>
      </div>
     </div>

    </div>

  <div v-show="isShowing" class="col-md-6 offset-md-2 comment">
  <form :action="commentaction" method="POST" class="search">
        <input type="hidden" name="_token" :value="csrf" />
       <input type="hidden"  v-bind:value="follow" name="follow">
        <input type="hidden"  v-bind:value="courseid" name="course" >
        <input type="hidden"   name="unique" >
        <textarea  rows="4" cols="40" name="comment" class="comment-textarea"> </textarea>
        <div class="col-md-8 offset-md-3">
        <button  type="submit" class="btn btn-overall purple" > Submit <i class="fas fa-arrow-right"></i> </button>&nbsp
        <a  class="canceled" @click="isShowing ^= true" > Cancel </a>
        </div>
  </form>

</div>
  </div>
</template>

<style lang="scss" scoped>
.my-course-mobile {
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 5% 0;
  .preview-img {
    overflow: hidden;
    height: 155px;
    width: 100%;
    padding: 0;
    object-fit: contain;
  }
  .title {
    color: #6BC7B8 !important;
  }
  .sub-title{
    color: #707070 !important;
    font-size: 12px;
  }  
  .stats {
    border: 1px solid #EF8A32;
  text-align: center;
  padding: 1%;
    h6{
      color: #EF8A32;
      font-size:14px;
    }
  }
}

.action {
display: grid;
margin: 5%;
  a {
    padding: 0;
    margin-top: 5px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
  }
  a:hover{
  text-decoration: none;
  }
  a.continue,a.passed-retaking{
    background: #FCF7F7;
  }
  a.failed, a.failed-retaking{
  background: #FCF7F7;
  }
  p{
    color: #F87522 !important;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    padding: 0 !important;
    span{
    float: left;
    padding: 2% 4%;
    }
    span.icons {
    background: #F87522;
    width: 20%;
    height: 35px;
    color: #fff;
    padding: 5px;
    text-align: center;
    }
    span.numbers{
    float: right;
    border-left: 1px solid #fff;
    width: 20%;
    }
  }
}
.comment{
  margin-top: 20px;
  a.canceled{
  display: initial !important;
    background: #fff !important;
    padding: 1% 4%;
    border: 2px solid #23245f;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
  }
}

 .comment-section{
 .com{
     border-bottom: 1px solid #ccc;
     padding: 2% 0;
   }
  .no-comment{
    display:none;
    }
  .view-comment{
    display:block;
    background:#fff;
    padding:0 !important;
    color:#707070;
    cursor: pointer;
    margin-bottom: 5%;
    font-size: 12px;
  }

  .comment-inner{
    background: #FCF7F7;
    padding: 0;
    height: auto;
    overflow: auto;
   .course-title {
    text-align: left;
    padding: 5px 10px;
     .title {
       padding: 5px 0;
       font-size: 15px;
       color: #05B4CB;
       text-align: left;
       background: none;
       padding: 0;
     }
     .sub-title{
      font-size: 12px;
      color: #7C7C7C;
      padding: 0;
      text-align: left;
      display: grid;
      span{
          color: #707070;
      }
     }
   }
    .row {
     margin-bottom: 1%;
     margin-top: 0;
      p{
        color:#404040;
        font-size:15px;
        padding: 1% 0;
      }
 .lower-action{
     p{
       padding:5px !important;
       color: #fff ;
       font-size: 14px !important;
       float: right;
       text-align:center !important;
       span{
       padding-right: 5px;
       margin-right: 5px;
      }
     .numbers{
       float: right;
       border: left;
       border-left: 1px solid;
       padding-left: 5px;
      }
     .icons{
      float: left;
      }
    }
     a.canceled{
       display: initial !important;
       background: #fff !important;
       padding: 1%;
       border: 2px solid #49237E;
       text-align: center;
       border-radius: 2rem;
       position: relative;
       z-index: 0;
       overflow: hidden;
       margin: 0;
       flex-grow: 1;
       cursor: pointer;
       color: #49237E;
       float: right;
      }
  a.continue{
    background: #23245F;
    padding: 0.75% 2.5%;
    color: #fff !important;
    font-size: 14px !important;
    border-radius: 28px;
  }
  a.purple-borderd{
   padding: 0.15% 0.5%;
    border: 2px solid #F87522;
    color: #fff;
    background: #F87522 !important;
    font-size: 12px;
  }
    }
  }
  .replies{
    color:#313131;
    float:left;
    }
  }
 }
  .btn.btn-overall{
    font-size:12px;
  }


@media (max-width: 767px) {
  textarea{
  width:100%;
  }
}
</style>


<script>
import FeedAction from "./FeedAction.vue";
import axios from "axios";

export default {
  components: {
    FeedAction
  },
  data: function() {
    return {
      more: false,
      isShowing:false,
      isComment:false,
      isCommentLevel:false,
      passMark: 0.8,
      csrf: document.head.querySelector('meta[name="csrf-token"]').content,

      comments: {},
      subCommentCount:{},
      subComment:{},
      commentlikes:{},

    };
  },
  props: [
    "title",
    "image",
    "date",
    "start",
    "end",
    "enrolled",
    "progress",
    "status",
    "position",
    "prevScore",
    "currentScore",
    "likes",
    "likeaction",
    "action",
    "course",
    "unique",
    "followers",
    "commentcount",
    "commentaction",
    "follow",
    "courseid",
  ],
  methods: {
    toggleMore: function(e) {
      this.more = !this.more;
    },
    getBlockComment(){
      axios.get('/profile/comments/'+this.follow+'/'+this.courseid).then((response)=>{
             this.comments = response.data.details

          console.log(this.comments);
    })
   },
   getSubCommentCount:function(id){
   axios.get('/profile/subCommentCount/'+this.follow+'/'+this.courseid+'/'+id).then((response)=>{

          return response.data.count;
     })
   },
   getSubComment(id){
   axios.get('/profile/subComment/'+this.follow+'/'+this.courseid+'/'+id).then((response)=>{
          this.subComment = response.data.subdetails

       console.log(this.subComment);
     })
   },
   getCommentLikes(){

   },
   getCommentFollow(){

   }

  },
  created() {
   this.getBlockComment()
   this.getSubComment()
  this.getSubCommentCount()
},
  computed: {
  achievements: function() {
    const achieved = [];

    if (this.status == "Completed") {
      this.completed = true;
    }
    //console.log(this.status);

    //Started course
    if ((this.status == "In Progress") || (this.completed) || (this.status == "Completed but Failed")) {
      achieved.push({
        icon: "Icon_Start_Course.png",
        title: "Well done on starting the course!"
      });
    }

    //Scored more than 79%
    if ((this.completed) || (this.status == "Completed but Failed")) {
      achieved.push({
        icon: "Icon_1_Star.png",
        title: "Kudos on completing the course but you have not attained the 80% passmark!"
      });
    }


    //Finished course
    if ((this.completed) & (this.currentScore >= 0.8)) {
     achieved.push({
        icon: "Icon_Finished_Course.png",
        title: "Congratulations for completing the course successfully!"
      });
    }
    return achieved;
  },

actionType: function() {
    if (this.commentcount == 0) {
      return "no-comment";
    }
    if (this.commentcount > 0) {
      return "has-comment";
    }

    }
  }
};
</script>
